body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgba(52, 107, 228, 0.80);
    justify-content: space-between;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.lista li {
    padding-left: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.cardapio {
    background-color: rgba(218, 165, 32, .40);
}

.divform {
    background-color: rgba(218, 165, 32, .40);

}
.bemvindo{
    background-color: rgba(218, 165, 32, .40);
}

.areaform {
    margin-right: 600px;
    margin-left: 30px;
}
h1{
    text-align: center;
    color: red;
}

img {
	position:relative;
	left:50%;
	top:50%;
}