<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Pizzas cardapio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    
   
</head>
<body>
	<div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/">Pagina inicial</a> </li>
                <li><a href=" "> | </a></li>
                <li> <a href="/criarpizza">Criar Pizza</a> </li>
                
            </ul>
        </nav>
    </div>
    
    <div class="cardapio">
    <h1>Cardapio</h1>
    <p>_____________________________</p>
    	
        <div class="pizza" th:each="pizzas : ${cardapio}">
               <a href="" th:attr="href=${pizzas.nome}" ><h2 th:text="Nome---+ ${pizzas.nome}"></h2></a>
                <p th:text="Sabor---+ ${pizzas.sabor}"></p>
                <p th:text="Tipo-+massa---+ ${pizzas.massa}"></p>
                <p th:text="Borda---+ ${pizzas.borda}"></p>
                <h3 th:text="Preço---+ ${pizzas.valor}"></h3>  
                <p>______________________________</p>            

        </div>
    </div>
    
</body>
</html>
