<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Pizzas cardapio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    
   
</head>
<body>
	<div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/">Pagina inicial</a> </li>
                <li><a href=" "> | </a></li>
                <li> <a href="/cardapio">Cardapio</a> </li>
                
            </ul>
        </nav>
    </div>
    <div>
    	<h1>Vamos criar uma nova Pizza</h1>
    </div>
    
   
</body>
</html>