<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Pizzas cardapio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


</head>

<body>
    <div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/">Pagina inicial</a> </li>
                <li><a href=" "> | </a></li>
                <li> <a href="/cardapio">Cardapio</a> </li>

            </ul>
        </nav>
    </div>
    <div class="divform">
        <form class="areaform" method="POST">
            <fieldset>
                <legend>
                    <h2>Nova pizza</h2>
                </legend>
                Nome da sua pizza: <input type="text" name="nome"><br />
                Sabor da sua pizza : <input type="text" name="sabor"><br />
                Tipo de massa : <input type="text" name="massa"><br />
                Tipo da porda : <input type="text" name="borda"><br />
                Valor: <input type="number" step="any" name="valor"><br />
                <button type="submit">Cria </button>
            </fieldset>
        </form>
    </div>

</body>

</html>