<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Pizzas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


</head>

<body>
    <div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/criarpizza">Criar Pizza</a> </li>
                <li><a href=" "> | </a></li>
                <li> <a href="/cardapio">Cardapio</a> </li>
            </ul>
        </nav>
    </div>
    <div class="bemvindo">
        <h1>Bem vindo a Pizzaria do Jefferson</h1>
    </div>


</body>

</html>